* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: DM Sans, Arial;
  text-decoration: none;
}

body {
  background-color: #fffcef;
  color: #333;
}


nav {
  position: fixed;
  top: 0;
  width: 100%;
  background: #fffcef;
  z-index: 10000;
  padding: 20px 0;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 250px;
}

nav a {
  font-size: 22px;
  font-weight: bold;
  padding: 8px 18px;
  background: #ffffffd9;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
  color: #800020;
  transition: 0.3s;
}

nav a:hover {
  transform: scale(1.07);
  box-shadow: 0 4px 10px rgba(0,0,0,0.22);
}


.section {
  margin: 40px auto;
  padding: 60px;
  text-align: center;
}

h2 {
  color: #800020;
}

.section h3 {
  text-align: left;
  color: maroon;
  margin-bottom: 15px;
  font-size: 1.5em;
  border-bottom: 2px solid gray;
  padding-bottom: 5px;
}

p, label {
  color: #737373;
}


#banner1 {
  width: 100%;
  height: 350px;
  object-fit: cover;
  display: block;
  transition: 0.5s;
}

#banner1:hover {
  transform: scale(1);
}


.menu-img {
  width: 150px;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}


.table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.table th {
  color: maroon;
  padding: 12px 15px;
  text-align: center;
}

.table td {
  padding: 12px 15px;
  text-align: center;
  color: maroon;
}


.cart-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 250px;
  margin: 0 auto;
}

.cart-form input,
select,
textarea {
  padding: 8px;
  border-radius: 8px;
  border: 1px solid;
}

.cart-form button {
  background:
